
     <h1>View Url Details</h1>
     	
   <p>
  <strong>Shorturl:</strong>
  <%= @shortened_url.shorturl %></p>

<p>
  <strong>Hits:</strong>
  <%= @shortened_url.hits %>
</p>
  	
<p>
  <strong>ActualUrl:</strong>
  <%= @shortened_url.url %>
</p>   
     	 
     	 
     
</thead></table>
   
       
        
        
    